In [1]:
import pandas as pd
import requests
import json
import geopandas as gp
import numpy as np

## Polygons

In [3]:
poligonos = gp.read_file("../archivos_originales/889463142683_s/conjunto_de_datos/areas_geoestadisticas_municipales.shp")

In [4]:
poligonos.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2458 entries, 0 to 2457
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CVE_ENT   2458 non-null   object
 1   CVE_MUN   2458 non-null   object
 2   NOM_MUN   2458 non-null   object
 3   geometry  2458 non-null   geometry
dtypes: geometry(1), object(3)
memory usage: 76.9+ KB

In [5]:
poligonos

,CVE_ENT,CVE_MUN,NOM_MUN,geometry
0,01,002,Asientos,"POLYGON ((2494680.261 1141224.506, 2494749.948..."
1,01,011,San Francisco de los Romo,"POLYGON ((2471901.164 1118837.535, 2471903.404..."
2,01,007,Rincón de Romos,"POLYGON ((2476760.231 1150329.046, 2476783.634..."
3,01,008,San José de Gracia,"POLYGON ((2453254.179 1144800.521, 2453326.553..."
4,01,005,Jesús María,"POLYGON ((2466710.861 1102163.965, 2466673.583..."
...,...,...,...,...
2453,15,090,Tenango del Valle,"POLYGON ((2743083.476 786424.291, 2739761.694 ..."
2454,15,106,Toluca,"POLYGON ((2755061.203 812050.970, 2754957.762 ..."
2455,15,058,Nezahualcóyotl,"POLYGON ((2808770.826 829364.660, 2808809.767 ..."
2456,09,005,Gustavo A. Madero,"POLYGON ((2804455.193 837639.057, 2804458.490 ..."
2457,20,227,San Lorenzo Cacaotepec,"POLYGON ((3051140.807 580652.064, 3051145.543 ..."

## Indicators

In [6]:
xls = pd.ExcelFile('Indice de Desarrollo Humano Municipal 2010 2015.xlsx')

In [7]:
xls.sheet_names

['IDH municipal 2010', 'IDH municipal 2015']

In [8]:
desarrollo_df = pd.read_excel('Indice de Desarrollo Humano Municipal 2010 2015.xlsx', sheet_name='IDH municipal 2015', skiprows=7)

In [9]:
desarrollo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 14 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Clave entidad                                2463 non-null   object
 1   Clave municipio                              2457 non-null   float64
 2   Estado                                       2457 non-null   object
 3   Municipio                                    2457 non-null   object
 4   Años promedio de escolaridad                 2457 non-null   object
 5   Años esperados de escolarización             2457 non-null   object
 6   Ingreso per cápita anual (dólares PPC)       2457 non-null   object
 7   Tasa de mortalidad infantil                  2457 non-null   float64
 8   Índice de educación                          2457 non-null   object
 9   Índice de salud                              2457 non-null   float64
 10  Índice de ingreso                            2457 non-null   object
 11  Valor del Índice de Desarrollo Humano (IDH)  2457 non-null   object
 12  Posición del IDH 2015                        2457 non-null   object
 13  Unnamed: 13                                  2457 non-null   object
dtypes: float64(3), object(11)
memory usage: 269.8+ KB

In [10]:
desarrollo_df.count()

Clave entidad                                  2463
Clave municipio                                2457
Estado                                         2457
Municipio                                      2457
Años promedio de escolaridad                   2457
Años esperados de escolarización               2457
Ingreso per cápita anual (dólares PPC)         2457
Tasa de mortalidad infantil                    2457
Índice de educación                            2457
Índice de salud                                2457
Índice de ingreso                              2457
Valor del Índice de Desarrollo Humano (IDH)    2457
Posición del IDH 2015                          2457
Unnamed: 13                                    2457
dtype: int64

In [11]:
desarrollo_df.dropna(how="any", inplace=True)

In [12]:
desarrollo_df

,Clave entidad,Clave municipio,Estado,Municipio,Años promedio de escolaridad,Años esperados de escolarización,Ingreso per cápita anual (dólares PPC),Tasa de mortalidad infantil,Índice de educación,Índice de salud,Índice de ingreso,Valor del Índice de Desarrollo Humano (IDH),Posición del IDH 2015,Unnamed: 13
1,9,14.0,Ciudad de México,Benito Juárez,13.8318,16.2685,9544.92,5.025701,0.912964,0.971748,0.948196,0.943992,1,0
2,9,16.0,Ciudad de México,Miguel Hidalgo,12.9515,15.3655,8748.64,6.298164,0.858536,0.960939,0.935037,0.917123,2,0
3,19,19.0,Nuevo León,San Pedro Garza García,12.7893,14.9786,9748.53,11.913410,0.84238,0.913238,0.951384,0.901189,3,2
4,9,3.0,Ciudad de México,Coyoacán,12.1811,15.4159,5470.09,7.123634,0.834256,0.953926,0.864101,0.882659,4,0
5,9,15.0,Ciudad de México,Cuauhtémoc,11.9143,14.8333,6164.74,7.629359,0.809181,0.949631,0.882159,0.878448,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2456,8,10.0,Chihuahua,Buenaventura,ND,ND,ND,18.223442,ND,0.859634,ND,ND,ND,ND
2457,8,65.0,Chihuahua,Urique,ND,ND,ND,48.416050,ND,0.603150,ND,ND,ND,ND
2458,20,427.0,Oaxaca,Santa María Petapa,ND,ND,ND,21.057871,ND,0.835556,ND,ND,ND,ND
2459,20,140.0,Oaxaca,San Francisco Chindúa,ND,ND,ND,24.748541,ND,0.804204,ND,ND,ND,ND
2460,21,138.0,Puebla,San Nicolás de los Ranchos,ND,ND,ND,21.055868,ND,0.835573,ND,ND,ND,ND

In [13]:
desarrollo_df["CVE_ENT"] = desarrollo_df['Clave entidad'].astype(str).str.zfill(2)
desarrollo_df["CVE_MUN"] = desarrollo_df['Clave municipio'].astype(int).astype(str).str.zfill(3)
desarrollo_df.drop(["Unnamed: 13","Clave municipio","Clave entidad"],axis=1, inplace=True)

In [14]:
desarrollo_df = desarrollo_df.replace("ND", np.nan )
desarrollo_df.dropna(how="any", inplace=True)

In [15]:
desarrollo_df[["Años promedio de escolaridad", "Años esperados de escolarización", "Ingreso per cápita anual (dólares PPC)","Tasa de mortalidad infantil",
          "Índice de educación", "Índice de salud", "Índice de ingreso", "Valor del Índice de Desarrollo Humano (IDH)"]] = desarrollo_df[["Años promedio de escolaridad", "Años esperados de escolarización", "Ingreso per cápita anual (dólares PPC)","Tasa de mortalidad infantil",
          "Índice de educación", "Índice de salud", "Índice de ingreso", "Valor del Índice de Desarrollo Humano (IDH)"]].apply(pd.to_numeric,errors='coerce')

In [16]:
desarrollo_df["Años promedio de escolaridad"] = desarrollo_df["Años promedio de escolaridad"].map("{:.3f}".format)
desarrollo_df["Años esperados de escolarización"] = desarrollo_df["Años esperados de escolarización"].map("{:.3f}".format)
desarrollo_df["Ingreso per cápita anual (dólares PPC)"] = desarrollo_df["Ingreso per cápita anual (dólares PPC)"].map("{:.3f}".format)
desarrollo_df["Tasa de mortalidad infantil"] = desarrollo_df["Tasa de mortalidad infantil"].map("{:.3f}".format)
desarrollo_df["Índice de educación"] = desarrollo_df["Índice de educación"].map("{:.3f}".format)
desarrollo_df["Índice de salud"] = desarrollo_df["Índice de salud"].map("{:.3f}".format)
desarrollo_df["Índice de ingreso"] = desarrollo_df["Índice de ingreso"].map("{:.3f}".format)
desarrollo_df["Valor del Índice de Desarrollo Humano (IDH)"] = desarrollo_df["Valor del Índice de Desarrollo Humano (IDH)"].map("{:.3f}".format)

In [17]:
desarrollo_df

,Estado,Municipio,Años promedio de escolaridad,Años esperados de escolarización,Ingreso per cápita anual (dólares PPC),Tasa de mortalidad infantil,Índice de educación,Índice de salud,Índice de ingreso,Valor del Índice de Desarrollo Humano (IDH),Posición del IDH 2015,CVE_ENT,CVE_MUN
1,Ciudad de México,Benito Juárez,13.832,16.268,9544.923,5.026,0.913,0.972,0.948,0.944,1.0,09,014
2,Ciudad de México,Miguel Hidalgo,12.952,15.365,8748.644,6.298,0.859,0.961,0.935,0.917,2.0,09,016
3,Nuevo León,San Pedro Garza García,12.789,14.979,9748.533,11.913,0.842,0.913,0.951,0.901,3.0,19,019
4,Ciudad de México,Coyoacán,12.181,15.416,5470.093,7.124,0.834,0.954,0.864,0.883,4.0,09,003
5,Ciudad de México,Cuauhtémoc,11.914,14.833,6164.735,7.629,0.809,0.950,0.882,0.878,5.0,09,015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2444,Oaxaca,Coicoyán de las Flores,1.482,9.526,346.165,45.260,0.314,0.630,0.447,0.446,2441.0,20,016
2445,Oaxaca,Santos Reyes Yucuná,2.857,9.568,185.292,41.623,0.361,0.661,0.353,0.438,2442.0,20,529
2446,Chihuahua,Batopilas,3.306,8.165,599.120,65.433,0.337,0.459,0.530,0.434,2443.0,08,008
2447,Oaxaca,San Martín Peras,1.461,8.764,359.396,51.244,0.292,0.579,0.453,0.425,2444.0,20,242
2448,Guerrero,Cochoapa el Grande,1.570,10.131,319.124,59.220,0.334,0.511,0.435,0.420,2445.0,12,078

In [120]:
desarrollo_df.to_csv('indicadores_completo.csv')

In [18]:
states_df = desarrollo_df.loc[(desarrollo_df['Estado'] == 'Hidalgo') |
             (desarrollo_df['Estado'] =='México') | 
             (desarrollo_df['Estado'] =='Morelos') | 
            (desarrollo_df['Estado'] =='Puebla') | 
            (desarrollo_df['Estado'] =='Tlaxcala') | 
            (desarrollo_df['Estado'] =='Ciudad de México') ]

In [122]:
states_df.to_csv('indicadores_estados_elegidos.csv')

## Merge with polygons

In [19]:
data_map = poligonos.merge(desarrollo_df, on=["CVE_ENT", "CVE_MUN"], how="left")

In [20]:
data_map

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,Estado,Municipio,Años promedio de escolaridad,Años esperados de escolarización,Ingreso per cápita anual (dólares PPC),Tasa de mortalidad infantil,Índice de educación,Índice de salud,Índice de ingreso,Valor del Índice de Desarrollo Humano (IDH),Posición del IDH 2015
0,01,002,Asientos,"POLYGON ((2494680.261 1141224.506, 2494749.948...",Aguascalientes,Asientos,7.039,11.897,1940.209,21.363,0.565,0.833,0.708,0.693,979.0
1,01,011,San Francisco de los Romo,"POLYGON ((2471901.164 1118837.535, 2471903.404...",Aguascalientes,San Francisco de los Romo,8.385,11.840,2717.384,12.803,0.608,0.906,0.758,0.748,393.0
2,01,007,Rincón de Romos,"POLYGON ((2476760.231 1150329.046, 2476783.634...",Aguascalientes,Rincón de Romos,8.373,12.514,2471.987,15.057,0.627,0.887,0.744,0.745,421.0
3,01,008,San José de Gracia,"POLYGON ((2453254.179 1144800.521, 2453326.553...",Aguascalientes,San José de Gracia,7.952,12.330,2272.726,15.592,0.608,0.882,0.731,0.732,553.0
4,01,005,Jesús María,"POLYGON ((2466710.861 1102163.965, 2466673.583...",Aguascalientes,Jesús María,9.177,12.367,3949.526,13.178,0.649,0.902,0.815,0.782,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2472,15,090,Tenango del Valle,"POLYGON ((2743083.476 786424.291, 2739761.694 ...",México,Tenango del Valle,7.825,12.583,2070.647,17.177,0.610,0.869,0.717,0.724,631.0
2473,15,106,Toluca,"POLYGON ((2755061.203 812050.970, 2754957.762 ...",México,Toluca,9.878,13.844,2859.125,8.402,0.714,0.943,0.766,0.802,98.0
2474,15,058,Nezahualcóyotl,"POLYGON ((2808770.826 829364.660, 2808809.767 ...",México,Nezahualcóyotl,9.627,14.186,3319.220,11.943,0.715,0.913,0.789,0.801,100.0
2475,09,005,Gustavo A. Madero,"POLYGON ((2804455.193 837639.057, 2804458.490 ...",Ciudad de México,Gustavo A. Madero,10.508,14.675,3946.495,9.664,0.758,0.932,0.815,0.832,32.0
2476,20,227,San Lorenzo Cacaotepec,"POLYGON ((3051140.807 580652.064, 3051145.543 ...",Oaxaca,San Lorenzo Cacaotepec,9.372,13.598,2952.621,13.241,0.690,0.902,0.771,0.783,165.0

## Specific states

In [94]:
cities_df = data_map.loc[(data_map['Estado'] == 'Hidalgo') |
             (data_map['Estado'] =='México') | 
             (data_map['Estado'] =='Morelos') | 
            (data_map['Estado'] =='Puebla') | 
            (data_map['Estado'] =='Tlaxcala') | 
            (data_map['Estado'] =='Ciudad de México') ]
cities_df

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,Estado,Municipio,Años promedio de escolaridad,Años esperados de escolarización,Ingreso per cápita anual (dólares PPC),Tasa de mortalidad infantil,Índice de educación,Índice de salud,Índice de ingreso,Valor del Índice de Desarrollo Humano (IDH),Posición del IDH 2015
284,09,010,Álvaro Obregón,"POLYGON ((2792859.255 815015.440, 2792850.164 ...",Ciudad de México,Álvaro Obregón,10.718,14.215,4440.905,9.430,0.752,0.934,0.833,0.836,22.0
285,09,012,Tlalpan,"POLYGON ((2803827.389 814493.672, 2803835.654 ...",Ciudad de México,Tlalpan,11.156,14.635,4252.025,10.048,0.778,0.929,0.826,0.842,17.0
286,09,015,Cuauhtémoc,"POLYGON ((2800483.029 832381.312, 2800517.052 ...",Ciudad de México,Cuauhtémoc,11.914,14.833,6164.735,7.629,0.809,0.950,0.882,0.878,5.0
287,09,017,Venustiano Carranza,"POLYGON ((2802603.341 831349.500, 2802657.676 ...",Ciudad de México,Venustiano Carranza,11.055,14.459,4520.465,8.520,0.770,0.942,0.835,0.846,13.0
288,09,011,Tláhuac,"POLYGON ((2814410.152 806558.306, 2814379.579 ...",Ciudad de México,Tláhuac,9.925,14.262,3127.618,11.128,0.727,0.920,0.780,0.805,89.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,15,067,Otzolotepec,"POLYGON ((2745190.380 824863.494, 2745129.957 ...",México,Otzolotepec,7.139,12.313,2071.786,17.720,0.580,0.864,0.717,0.711,759.0
2472,15,090,Tenango del Valle,"POLYGON ((2743083.476 786424.291, 2739761.694 ...",México,Tenango del Valle,7.825,12.583,2070.647,17.177,0.610,0.869,0.717,0.724,631.0
2473,15,106,Toluca,"POLYGON ((2755061.203 812050.970, 2754957.762 ...",México,Toluca,9.878,13.844,2859.125,8.402,0.714,0.943,0.766,0.802,98.0
2474,15,058,Nezahualcóyotl,"POLYGON ((2808770.826 829364.660, 2808809.767 ...",México,Nezahualcóyotl,9.627,14.186,3319.220,11.943,0.715,0.913,0.789,0.801,100.0
2475,09,005,Gustavo A. Madero,"POLYGON ((2804455.193 837639.057, 2804458.490 ...",Ciudad de México,Gustavo A. Madero,10.508,14.675,3946.495,9.664,0.758,0.932,0.815,0.832,32.0

In [95]:
cities_df = cities_df.to_crs("EPSG:4326")
cities_df["geometry"] = cities_df["geometry"].simplify(tolerance = 0.001, preserve_topology = True)

In [96]:
len(cities_df["Municipio"].unique())

521

In [ ]:
cities_df.to_file("INEGI_data/indicadores_estados.geojson", driver='GeoJSON')

## Crime rate

In [97]:
datos2 = pd.read_excel("archivos_originales/Municipal-Delitos-2015-2020_jun2020/2019.xlsx")
datos2.head()

,Año,Clave_Ent,Entidad,Cve. Municipio,Municipio,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,...,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2019,1,Aguascalientes,1001,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,5,...,2,2,2,4,2,0,7,6,2,1
1,2019,1,Aguascalientes,1001,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,...,0,2,2,0,1,0,0,0,2,2
2,2019,1,Aguascalientes,1001,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,1,...,2,2,1,1,0,0,0,0,1,1
3,2019,1,Aguascalientes,1001,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,0,...,0,0,2,0,0,0,0,0,0,0
4,2019,1,Aguascalientes,1001,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,0,...,0,0,0,0,0,1,0,0,0,0

In [98]:
datos2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242158 entries, 0 to 242157
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Año                     242158 non-null  int64
 1   Clave_Ent               242158 non-null  int64
 2   Entidad                 242158 non-null  object
 3   Cve. Municipio          242158 non-null  int64
 4   Municipio               242158 non-null  object
 5   Bien jurídico afectado  242158 non-null  object
 6   Tipo de delito          242158 non-null  object
 7   Subtipo de delito       242158 non-null  object
 8   Modalidad               242158 non-null  object
 9   Enero                   242158 non-null  int64
 10  Febrero                 242158 non-null  int64
 11  Marzo                   242158 non-null  int64
 12  Abril                   242158 non-null  int64
 13  Mayo                    242158 non-null  int64
 14  Junio                   242158 non-null  int64
 15  Julio                   242158 non-null  int64
 16  Agosto                  242158 non-null  int64
 17  Septiembre              242158 non-null  int64
 18  Octubre                 242158 non-null  int64
 19  Noviembre               242158 non-null  int64
 20  Diciembre               242158 non-null  int64
dtypes: int64(15), object(6)
memory usage: 38.8+ MB

In [99]:
datos2.count()

Año                       242158
Clave_Ent                 242158
Entidad                   242158
Cve. Municipio            242158
Municipio                 242158
Bien jurídico afectado    242158
Tipo de delito            242158
Subtipo de delito         242158
Modalidad                 242158
Enero                     242158
Febrero                   242158
Marzo                     242158
Abril                     242158
Mayo                      242158
Junio                     242158
Julio                     242158
Agosto                    242158
Septiembre                242158
Octubre                   242158
Noviembre                 242158
Diciembre                 242158
dtype: int64

In [100]:
datos2.isnull().sum()

Año                       0
Clave_Ent                 0
Entidad                   0
Cve. Municipio            0
Municipio                 0
Bien jurídico afectado    0
Tipo de delito            0
Subtipo de delito         0
Modalidad                 0
Enero                     0
Febrero                   0
Marzo                     0
Abril                     0
Mayo                      0
Junio                     0
Julio                     0
Agosto                    0
Septiembre                0
Octubre                   0
Noviembre                 0
Diciembre                 0
dtype: int64

In [101]:
datos2["CVE_ENT"] = datos2["Clave_Ent"].astype(str).str.zfill(2)
datos2[["Cve. Municipio"]] = datos2["Cve. Municipio"].astype(str)
datos2.rename(columns={"Cve. Municipio":"CVE_MUN"}, inplace=True)
datos2.drop(["Año", "Clave_Ent"], axis=1, inplace=True)
datos2["Total"] = datos2.sum(axis=1)

In [102]:
crime_df = datos2[['CVE_ENT', 'CVE_MUN','Entidad','Municipio','Tipo de delito', 'Subtipo de delito','Total']]

In [103]:
crime_df

,CVE_ENT,CVE_MUN,Entidad,Municipio,Tipo de delito,Subtipo de delito,Total
0,01,1001,Aguascalientes,Aguascalientes,Homicidio,Homicidio doloso,37
1,01,1001,Aguascalientes,Aguascalientes,Homicidio,Homicidio doloso,11
2,01,1001,Aguascalientes,Aguascalientes,Homicidio,Homicidio doloso,11
3,01,1001,Aguascalientes,Aguascalientes,Homicidio,Homicidio doloso,2
4,01,1001,Aguascalientes,Aguascalientes,Homicidio,Homicidio culposo,1
...,...,...,...,...,...,...,...
242153,32,32058,Zacatecas,Santa María de la Paz,Falsificación,Falsificación,0
242154,32,32058,Zacatecas,Santa María de la Paz,Contra el medio ambiente,Contra el medio ambiente,0
242155,32,32058,Zacatecas,Santa María de la Paz,Delitos cometidos por servidores públicos,Delitos cometidos por servidores públicos,0
242156,32,32058,Zacatecas,Santa María de la Paz,Electorales,Electorales,0
242157,32,32058,Zacatecas,Santa María de la Paz,Otros delitos del Fuero Común,Otros delitos del Fuero Común,3

In [104]:
specific_states = crime_df.loc[(crime_df['Entidad'] == 'Hidalgo') |
             (crime_df['Entidad'] =='México') | 
             (crime_df['Entidad'] =='Morelos') | 
            (crime_df['Entidad'] =='Puebla') |
            (crime_df['Entidad'] =='Tlaxcala')]

In [105]:
specific_states["Tipo de delito"].value_counts()

Robo                                                                             18684
Homicidio                                                                         4671
Lesiones                                                                          4671
Secuestro                                                                         2595
Feminicidio                                                                       2076
Aborto                                                                             519
Electorales                                                                        519
Corrupción de menores                                                              519
Otros delitos del Fuero Común                                                      519
Narcomenudeo                                                                       519
Rapto                                                                              519
Violencia familiar                                                                 519
Incesto                                                                            519
Daño a la propiedad                                                                519
Otros delitos contra la sociedad                                                   519
Amenazas                                                                           519
Violencia de género en todas sus modalidades distinta a la violencia familiar      519
Abuso de confianza                                                                 519
Fraude                                                                             519
Otros delitos contra el patrimonio                                                 519
Falsificación                                                                      519
Otros delitos que atentan contra la vida y la integridad corporal                  519
Evasión de presos                                                                  519
Tráfico de menores                                                                 519
Violación equiparada                                                               519
Hostigamiento sexual                                                               519
Delitos cometidos por servidores públicos                                          519
Trata de personas                                                                  519
Abuso sexual                                                                       519
Despojo                                                                            519
Acoso sexual                                                                       519
Otros delitos que atentan contra la libertad personal                              519
Otros delitos que atentan contra la libertad y la seguridad sexual                 519
Incumplimiento de obligaciones de asistencia familiar                              519
Otros delitos contra la familia                                                    519
Violación simple                                                                   519
Contra el medio ambiente                                                           519
Extorsión                                                                          519
Allanamiento de morada                                                             519
Falsedad                                                                           519
Name: Tipo de delito, dtype: int64

In [106]:
def agg_crimes(delito):
    df = specific_states.loc[specific_states["Tipo de delito"]==delito]
    df = df.groupby("Municipio").agg({"Total":"sum"})
    df = df.rename(columns={"Total":delito}).reset_index()
    df = df.sort_values(by=delito, ascending=False)
    return df

In [107]:
robos_df = agg_crimes("Robo")
homicidios_df = agg_crimes("Homicidio")
secuestro_df = agg_crimes("Secuestro")
feminicidio_df = agg_crimes("Feminicidio")
abuso_sexual_df = agg_crimes("Abuso sexual")
lesiones_df = agg_crimes("Lesiones")

In [ ]:
total

In [108]:
from functools import reduce

In [109]:
dfs = [robos_df, homicidios_df,secuestro_df, feminicidio_df, abuso_sexual_df, lesiones_df]
df_final = reduce(lambda left,right: pd.merge(left,right,on='Municipio'), dfs)
df_final

,Municipio,Robo,Homicidio,Secuestro,Feminicidio,Abuso sexual,Lesiones
0,Ecatepec de Morelos,25168,394,11,7,397,6600
1,Puebla,14290,299,10,11,353,1679
2,Toluca,12585,126,9,10,230,4531
3,Naucalpan de Juárez,11891,171,12,6,147,3704
4,Tlalnepantla de Baz,10831,180,4,4,111,3056
...,...,...,...,...,...,...,...
504,Zacazonapan,0,0,0,0,0,1
505,Chigmecatitlán,0,0,0,0,1,2
506,Albino Zertuche,0,0,0,0,0,0
507,San Miguel Ixitlán,0,0,0,0,0,0
508,Acteopan,0,0,0,0,0,0

# Merge Indicators with crime data

In [110]:
ind_df = cities_df.merge(df_final, on="Municipio", how="left")

In [111]:
ind_df

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,Estado,Municipio,Años promedio de escolaridad,Años esperados de escolarización,Ingreso per cápita anual (dólares PPC),Tasa de mortalidad infantil,...,Índice de salud,Índice de ingreso,Valor del Índice de Desarrollo Humano (IDH),Posición del IDH 2015,Robo,Homicidio,Secuestro,Feminicidio,Abuso sexual,Lesiones
0,09,010,Álvaro Obregón,"POLYGON ((-99.20555 19.30672, -99.20575 19.305...",Ciudad de México,Álvaro Obregón,10.718,14.215,4440.905,9.430,...,0.934,0.833,0.836,22.0,NaN,NaN,NaN,NaN,NaN,NaN
1,09,012,Tlalpan,"POLYGON ((-99.10103 19.30002, -99.10136 19.295...",Ciudad de México,Tlalpan,11.156,14.635,4252.025,10.048,...,0.929,0.826,0.842,17.0,NaN,NaN,NaN,NaN,NaN,NaN
2,09,015,Cuauhtémoc,"POLYGON ((-99.12951 19.46265, -99.12224 19.459...",Ciudad de México,Cuauhtémoc,11.914,14.833,6164.735,7.629,...,0.950,0.882,0.878,5.0,NaN,NaN,NaN,NaN,NaN,NaN
3,09,017,Venustiano Carranza,"POLYGON ((-99.10946 19.45292, -99.10079 19.449...",Ciudad de México,Venustiano Carranza,11.055,14.459,4520.465,8.520,...,0.942,0.835,0.846,13.0,25.0,15.0,0.0,0.0,2.0,19.0
4,09,011,Tláhuac,"POLYGON ((-99.00166 19.22618, -99.03019 19.223...",Ciudad de México,Tláhuac,9.925,14.262,3127.618,11.128,...,0.920,0.780,0.805,89.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,15,067,Otzolotepec,"POLYGON ((-99.65879 19.40365, -99.65930 19.407...",México,Otzolotepec,7.139,12.313,2071.786,17.720,...,0.864,0.717,0.711,759.0,259.0,9.0,2.0,1.0,5.0,273.0
530,15,090,Tenango del Valle,"POLYGON ((-99.68482 19.05583, -99.71651 19.053...",México,Tenango del Valle,7.825,12.583,2070.647,17.177,...,0.869,0.717,0.724,631.0,369.0,14.0,0.0,1.0,17.0,329.0
531,15,106,Toluca,"POLYGON ((-99.56663 19.28611, -99.60601 19.287...",México,Toluca,9.878,13.844,2859.125,8.402,...,0.943,0.766,0.802,98.0,12585.0,126.0,9.0,10.0,230.0,4531.0
532,15,058,Nezahualcóyotl,"POLYGON ((-99.05095 19.43380, -99.04646 19.442...",México,Nezahualcóyotl,9.627,14.186,3319.220,11.943,...,0.913,0.789,0.801,100.0,9127.0,226.0,11.0,5.0,147.0,3557.0
533,09,005,Gustavo A. Madero,"POLYGON ((-99.09056 19.50955, -99.06386 19.498...",Ciudad de México,Gustavo A. Madero,10.508,14.675,3946.495,9.664,...,0.932,0.815,0.832,32.0,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
ind_df.fillna("ND")

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,Estado,Municipio,Años promedio de escolaridad,Años esperados de escolarización,Ingreso per cápita anual (dólares PPC),Tasa de mortalidad infantil,...,Índice de salud,Índice de ingreso,Valor del Índice de Desarrollo Humano (IDH),Posición del IDH 2015,Robo,Homicidio,Secuestro,Feminicidio,Abuso sexual,Lesiones
0,09,010,Álvaro Obregón,"POLYGON ((-99.20555 19.30672, -99.20575 19.305...",Ciudad de México,Álvaro Obregón,10.718,14.215,4440.905,9.430,...,0.934,0.833,0.836,22.0,ND,ND,ND,ND,ND,ND
1,09,012,Tlalpan,"POLYGON ((-99.10103 19.30002, -99.10136 19.295...",Ciudad de México,Tlalpan,11.156,14.635,4252.025,10.048,...,0.929,0.826,0.842,17.0,ND,ND,ND,ND,ND,ND
2,09,015,Cuauhtémoc,"POLYGON ((-99.12951 19.46265, -99.12224 19.459...",Ciudad de México,Cuauhtémoc,11.914,14.833,6164.735,7.629,...,0.950,0.882,0.878,5.0,ND,ND,ND,ND,ND,ND
3,09,017,Venustiano Carranza,"POLYGON ((-99.10946 19.45292, -99.10079 19.449...",Ciudad de México,Venustiano Carranza,11.055,14.459,4520.465,8.520,...,0.942,0.835,0.846,13.0,25,15,0,0,2,19
4,09,011,Tláhuac,"POLYGON ((-99.00166 19.22618, -99.03019 19.223...",Ciudad de México,Tláhuac,9.925,14.262,3127.618,11.128,...,0.920,0.780,0.805,89.0,ND,ND,ND,ND,ND,ND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,15,067,Otzolotepec,"POLYGON ((-99.65879 19.40365, -99.65930 19.407...",México,Otzolotepec,7.139,12.313,2071.786,17.720,...,0.864,0.717,0.711,759.0,259,9,2,1,5,273
530,15,090,Tenango del Valle,"POLYGON ((-99.68482 19.05583, -99.71651 19.053...",México,Tenango del Valle,7.825,12.583,2070.647,17.177,...,0.869,0.717,0.724,631.0,369,14,0,1,17,329
531,15,106,Toluca,"POLYGON ((-99.56663 19.28611, -99.60601 19.287...",México,Toluca,9.878,13.844,2859.125,8.402,...,0.943,0.766,0.802,98.0,12585,126,9,10,230,4531
532,15,058,Nezahualcóyotl,"POLYGON ((-99.05095 19.43380, -99.04646 19.442...",México,Nezahualcóyotl,9.627,14.186,3319.220,11.943,...,0.913,0.789,0.801,100.0,9127,226,11,5,147,3557
533,09,005,Gustavo A. Madero,"POLYGON ((-99.09056 19.50955, -99.06386 19.498...",Ciudad de México,Gustavo A. Madero,10.508,14.675,3946.495,9.664,...,0.932,0.815,0.832,32.0,ND,ND,ND,ND,ND,ND

In [117]:
mun_data = ind_df.to_file("mun_indicators.geojson", driver='GeoJSON')

## Propiedades

In [120]:
propiedades_df = pd.read_csv("PropiedadesMegalopolis.csv")
propiedades_df.head()

,Categoria,Tipo,V o R,Propiedad,Ciudad,Municipio,Colonia,Precio,Superficie total,Superficie construida,Recámaras,Baños,Estacionamientos,Coordenadas
0,Inmuebles,Casas,Venta,Propiedades Individuales,Puebla,Cuautlancingo,4 Caminos,"1,150,000",Superficie total81 m²,Superficie construida91 m²,Recámaras3,Baños3,Tipo de propiedadCasa en fraccionamiento,https://http2.mlstatic.com/venta-de-casa-en-cu...
1,Inmuebles,Casas,Venta,Propiedades Individuales,Puebla,Cuautlancingo,San Diego los Sauces,"1,150,000",Superficie total91 m²,Superficie construida91 m²,Recámaras3,Baños3,Tipo de propiedadCasa en condominio,https://http2.mlstatic.com/D_NQ_NP_602986-MLM3...
2,Inmuebles,Casas,Venta,Propiedades Individuales,Puebla,Cuautlancingo,4 Caminos,"1,150,000",Superficie total81 m²,Superficie construida91 m²,Recámaras3,Baños3,Tipo de propiedadCasa en fraccionamiento,https://http2.mlstatic.com/casa-en-venta-en-cu...
3,Inmuebles,Casas,Venta,Propiedades Individuales,Puebla,Puebla,Snte,"1,150,000",Superficie total80 m²,Superficie construida115 m²,Recámaras2,Baños1,Estacionamientos1,https://http2.mlstatic.com/casa-en-venta-en-zo...
4,Inmuebles,Casas,Venta,Propiedades Individuales,Puebla,San Pedro Cholula,San Pedro Cholula,"1,150,000",Superficie total59 m²,Superficie construida78 m²,Recámaras2,Baños2,Antigüedad0 años,https://http2.mlstatic.com/casa-sola-en-venta-...

In [121]:
propiedades_df["Ciudad"].unique()

array(['Puebla', 'Morelos', 'Hidalgo', 'Estado De México',
       'Distrito Federal', 'Tlaxcala'], dtype=object)

In [122]:
propiedades_df = propiedades_df.replace("Estado De México", "México")
propiedades_df =propiedades_df.replace("Distrito Federal", "Ciudad de México" )

In [123]:
propiedades_df = propiedades_df.loc[(propiedades_df["Superficie total"].str.startswith('Superficie total')) & 
                                   (propiedades_df["Superficie construida"].str.startswith('Superficie construida'))]

In [124]:
propiedades_df["Precio"] = propiedades_df["Precio"].str.replace(',','')
propiedades_df["Superficie total"] = propiedades_df["Superficie total"].str.replace(' m²','')
propiedades_df["Superficie total"] = propiedades_df["Superficie total"].str.replace('Superficie total','')
propiedades_df["Superficie construida"] = propiedades_df["Superficie construida"].str.replace(' m²','')
propiedades_df["Superficie construida"] = propiedades_df["Superficie construida"].str.replace('Superficie construida','')

In [125]:
propiedades_df["Precio"] = propiedades_df["Precio"].astype(int)
propiedades_df["Superficie total"] = propiedades_df["Superficie total"].astype(float).astype(int)
propiedades_df["Superficie construida"] = propiedades_df["Superficie construida"].astype(float).astype(int)

In [126]:
len(propiedades_df["Municipio"].unique())

135

In [127]:
propiedades_df["$/m²"] = propiedades_df["Precio"]/propiedades_df["Superficie total"]
propiedades_df["$/m²(sup_contr)"] = propiedades_df["Precio"]/propiedades_df["Superficie construida"]

In [128]:
aggregate_df = propiedades_df.groupby("Municipio").agg({"Precio":"mean", "$/m²":"mean", "$/m²(sup_contr)":"mean"}).reset_index()
aggregate_df

                        Municipio        Precio          $/m²  $/m²(sup_contr)
0                         Acajete  1.950000e+06  22159.090909     13829.787234
1                         Actopan  1.253625e+06  11541.567460     11219.188765
2    Acuamanala De Miguel Hidalgo  1.650000e+06   6600.000000      6600.000000
3              Almoloya De Juárez  1.150000e+06   9274.193548      9349.593496
4                        Altepexi  1.800000e+06  15000.000000     10588.235294
..                            ...           ...           ...              ...
130                      Zaragoza  1.335250e+06  13868.014301     15341.744306
131                      Zempoala  1.345569e+06  11411.785042     10503.107318
132                       Zimapan  1.370000e+06  12803.738318     16117.647059
133                  Zinacantepec  1.494731e+06  13198.551665     11751.165903
134                      Zumpango  1.644749e+06   3162.978846      3654.997778

[135 rows x 4 columns]

# Merge prices with indicators

In [137]:
prices_merged = aggregate_df.merge(states_df, on="Municipio")
prices_merged

,Municipio,Precio,$/m²,$/m²(sup_contr),Estado,Años promedio de escolaridad,Años esperados de escolarización,Ingreso per cápita anual (dólares PPC),Tasa de mortalidad infantil,Índice de educación,Índice de salud,Índice de ingreso,Valor del Índice de Desarrollo Humano (IDH),Posición del IDH 2015,CVE_ENT,CVE_MUN
0,Acajete,1.950000e+06,22159.090909,13829.787234,Puebla,5.999,11.549,1876.033,19.626,0.521,0.848,0.702,0.677,1184.0,21,001
1,Actopan,1.253625e+06,11541.567460,11219.188765,Hidalgo,8.702,13.633,2461.312,8.737,0.669,0.940,0.743,0.776,200.0,13,003
2,Altepexi,1.800000e+06,15000.000000,10588.235294,Puebla,5.473,10.831,2056.906,23.195,0.483,0.817,0.716,0.657,1466.0,21,013
3,Amacuzac,1.460000e+06,24333.333333,15698.924731,Morelos,7.135,12.206,2076.584,19.668,0.577,0.847,0.718,0.705,840.0,17,001
4,Amecameca,1.914792e+06,9517.383952,13888.152357,México,9.191,13.191,2151.906,20.933,0.673,0.837,0.723,0.741,466.0,15,009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,Zacatepec,1.200000e+06,7500.000000,8000.000000,Morelos,9.439,14.204,3072.768,14.131,0.709,0.894,0.777,0.790,138.0,17,031
100,Zaragoza,1.335250e+06,13868.014301,15341.744306,Puebla,8.593,14.120,2169.566,14.968,0.679,0.887,0.724,0.758,320.0,21,211
101,Zempoala,1.345569e+06,11411.785042,10503.107318,Hidalgo,8.818,13.383,2880.227,16.487,0.666,0.874,0.767,0.764,270.0,13,083
102,Zinacantepec,1.494731e+06,13198.551665,11751.165903,México,8.703,12.827,2634.589,18.726,0.646,0.855,0.754,0.747,401.0,15,118
103,Zumpango,1.644749e+06,3162.978846,3654.997778,México,9.017,13.155,2530.754,24.460,0.666,0.807,0.748,0.738,499.0,15,120

In [140]:
fin_prices_merged = prices_merged.merge(df_final, on="Municipio")
fin_prices_merged["Precio"].value_counts()

1.485584e+06    3
1.200000e+06    3
1.700000e+06    2
1.645115e+06    2
1.300000e+06    2
               ..
1.568497e+06    1
1.685705e+06    1
1.668569e+06    1
1.565000e+06    1
1.553954e+06    1
Name: Precio, Length: 81, dtype: int64

In [139]:
fin_prices_merged.to_csv("prices_indicators.csv")